[submodule "foundry/lib/forge-std"]
	path = foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry/lib/fhenix-contracts"]
	path = foundry/lib/fhenix-contracts
	url = https://github.com/FhenixProtocol/fhenix-contracts
[submodule "foundry/lib/openzeppelin-contracts"]
	path = foundry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
